		<!-- Features Wrapper -->
			<div id="features-wrapper">
			

				<!-- Features -->
					<section id="features" class="container">
						<header>
							<h2>About Aphorme</h2>
						</header>
						<a href="http://regularjane.deviantart.com/art/Old-Reads-363428235" class="image image-full"><img src="../assets/pic01.jpg" alt="" height="50"/></a>
						<div class="row">
							<div class="4u">

								<!-- Feature -->
									<section>
									
										<!--<a href="http://regularjane.deviantart.com/art/Old-Reads-363428235" class="image image-full"><img src="images/pic01.jpg" alt=""/></a>-->
										<header>
											<h3>How was this project started?</h3>
										</header>
										<p>This project has multiple starting points. All of them lead back to Occupy Sandy. One starting point was just a quickly typed document detailing different terms. Another was when one Occupier decided to start compiling data from the recovery effort. Finally, the right team came together, believed in the project, and have run with it.</p>
										
										
										
									</section>

							</div>
							<div class="4u">

								<!-- Feature -->
									<section>
									<header>
											<h3>Who owns Aphorme?</h3>
										</header>
										<p>In short <strong>everybody</strong>!</p>
										<p>Aphorme is free to use. Free for anyone to edit, and the code is free to use, download, remake, as anyone would like.</p>
										
									</section>
									
							</div>
							<div class="4u">

								<!-- Feature -->
									<section>
										<header>
											<h3>Who is working on Aphorme?</h3>
										</header>
										<p><strong>Meghan Dunn</strong> This project would not have begun without Meghan. She tirelessly acquired and accumulated the early data, and kept the idea for this project alive for many months.</p>
										
										<p><strong>Andy Gimma</strong> is an internet and mobile programmer. He heard about the project from Meghan this spring, and has been working hard with her to bring the project to fruition.</p>
									</section>

							</div>
						</div>

					</section>
			
			</div>
		
		
