		<!-- Features Wrapper -->
			<div id="features-wrapper">
			

				<!-- Features -->
					<section id="features" class="container">
						<header>
							<h2>Contact</h2>
						</header>
						<a href="http://regularjane.deviantart.com/art/Old-Reads-363428235" class="image image-full"><img src="../assets/pic01.jpg" alt="" height="50"/></a>
						<div class="row">
							<p>Our highest goal, is to make a great communications instrument. If you want to help, or if you have some comment or suggestion please email us.</p>
							<p>We're so interesting in getting your feed back, that we've included that form on most pages. We hope to hear from you!</p>
						</div>

					</section>
			
			</div>
		