		<!-- Features Wrapper -->
			<div id="features-wrapper">
			

				<!-- Features -->
					<section id="features" class="container">
						<header>
							<h2>Contact</h2>
						</header>
						<a href="http://regularjane.deviantart.com/art/Old-Reads-363428235" class="image image-full"><img src="../assets/pic01.jpg" alt="" height="50"/></a>
						<div class="row">
							<p>Our highest goal, is to make a great communications instrument. If you want to help, or if you have some comment or suggestion please email us.</p>
                            <p>General question can be emailed to occupyrhetoric@gmail.com.</p>
							<p>Developer questions can be emailed to andy.n.gimma@gmail.com.</p>
                          <br>
						</div>

					</section>
			
			</div>
		