		<!-- Features Wrapper -->
			<div id="features-wrapper">
			

				<!-- Features -->
					<section id="features" class="container">
						<header>
							<h2>Guide: How to use Aphorme</h2>
						</header>
						<a href="http://regularjane.deviantart.com/art/Old-Reads-363428235" class="image image-full"><img src="../assets/pic01.jpg" alt="" height="50"/></a>
						<div class="row">
							<h2>Table of Contents</h2>
							<h3><a href=""><u>Sign up</u></a></h3>
							<p>To sign up, simply go to the <a href="/signup"> signup page</a>  and follow the instructions.</p>
							<h3><a href=""><u>Sign in and out</u></a></h3>
							<p>Once you have signed up, you can <a href="/signin">signin </a> using your email and password. To sign out, click the menu icon on the upper left of your screen, and click 'Logout'.</p>

							<h3><a href=""><u>Terms and Definitions</u></a></h3>
							  <ul>
							    <li><a href=""><u>Add</u></a></li>
							    <p>To add a term, click the menu icon on the upper left of your screen, and click <a href="/add">add</a>.
							    <li><a href=""><u>Bit</u></a></li>
							    <p>A short definition. Under 140 characters</p>
							    <li><a href=""><u>Byte</u></a></li>
							    <p>A longer definition. 8 bits is a byte, or 1320 characters</p>
							    <li><a href=""><u>Batch</u></a></li>
							    <p>The long form version. No character limits.</a>
							    <li><a href=""><u>Edit</u></a></li>
							    <p>Not yet implemented. Check back soon!</p>
							    <li><a href=""><u>Search</u></a></li>
							    <p>On the <a href="">home page</a> or on the <a href="/search">search page</a> you can search by keyword. Just enter a term into the search bar, and press the search button</p>
							    <li><a href=""><u>Flag Inappropriate</u></a></li>
							    <p>Not yet implemented, but as with any public content, we want to make sure the community can flag anything it feels it should.</p>
							  </ul>
							<h3><a href=""><u>FAQs</u></a></h3>
							
						</div>

					</section>
			
			</div>
		
