<h1>Sign in</h1>

<form id="signin_form" method="post" action="/user/create">
										
																											<span id="email_error"></span>

										<div class="row">
											<div class="12u">
												<input id="email" name="email" placeholder="Email" type="text" class="text" />
											</div>
										</div>
										<div class="row">
											<div class="12u">
												<input name="password" placeholder="Password" type="text" class="text" />
											</div>
										</div>
								
										
										
										<div class="row">
											<button class="submit">Submit</button>

										</div>
										
									</form>