	<form method="post" action="/terms/create">
										<div class="row">
											<div class="6u">
												<input name="term" placeholder="Term" type="text" class="text" />
											</div>
											<div class="6u">
												<input name="origin" placeholder="Origin" type="text" class="text" />
											</div>
										</div>
										
										<div class="row">
											<div class="12u">
												<input name="related_terms" placeholder="Related Terms" type="text" class="text" />
											</div>
										</div>
										
										<div class="row">
											<div class="12u">
												<textarea name="bit" placeholder="Bit"></textarea>
											</div>
										</div>
										<div class="row">
											<div class="12u">
												<textarea name="byte" placeholder="Byte"></textarea>
											</div>
										</div>
										<div class="row">
											<div class="12u">
												<textarea name="batch" placeholder="Batch"></textarea>
											</div>
										</div>
										<div class="row">
											<div class="12u">
												<!--<a href="#" onclick="document.forms[0].submit();return false;" class="button button-icon icon icon-envelope">Add This Term To Aphorme</a>-->
												<button class="submit">Submit</button>
											</div>
										</div>
									</form>