	<form method="post" action="/search_term">
										<div class="row">
											<div class="10u">
												<input name="search_term" placeholder="" type="text" class="text" />
											</div>
											<div class="2u">
												<button class="submit">Search</button>
											</div>
										</div>
										
						</form>