<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.css" />
<!--[if lte IE 8]>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.ie.css" />
<![endif]-->

<script src="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.js"></script>

<!--[if lte IE 8]><link rel="stylesheet" href="../dist/MarkerCluster.Default.ie.css" /><![endif]-->
<script src="/assets/leaflet.markercluster-src.js"></script>
<link rel="stylesheet" href="../assets/MarkerCluster.css" />
<link rel="stylesheet" href="../assets/MarkerCluster.Default.css" />
<style type="text/css">
  #map {height:500px;}
</style>

<h2>Terms Map</h2>
<p>Below is one of our most exciting features. You can track where words are being uploaded, on the beatiful and open source map below. The map accounts for adding terms, and editing terms.</p>
<p>As time goes by, we plan on adding features like time lapse, heat map, and map by individual term.</p>

<div id="map"></div>

<script>
var map = L.map('map').setView([51.505, -0.09], 13);
var osmUrl='http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
var osmAttrib='Map data © OpenStreetMap contributors';
var osm = new L.TileLayer(osmUrl, {minZoom: 0, maxZoom: 12, attribution: osmAttrib});		

// start the map in South-East England
map.setView(new L.LatLng(22.0, 0.0),2);
map.addLayer(osm);
var markers = L.markerClusterGroup();

$.getJSON('term_map_api', function(data) {  
  for (var i = 0; i < data.length; i++) {
    if (typeof null != data[i].latitude && typeof null != data[i].longitude) {
      var marker = L.marker([data[i].latitude, data[i].longitude]).bindPopup('<a href="/terms/'+data[i].term_id+'">'+data[i].name+'</a>');
      markers.addLayer(marker);
    }
  }

map.addLayer(markers); 
});
</script>

